<div class="top-menu">

    <img class="logo"
         src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>


<div class="demo">
    <div>Start Date: {{ startDate | date: 'MMM-dd-yyyy'}}</div>
</div>

<div>
    @for (pair of course | keyvalue; track $index) {
        {{pair.key + ' : ' + pair.value}}
    }
</div>
<div style="border: 5px solid red; min-height: 900px; margin: 10px;"></div>
@defer (on viewport; prefetch on idle) {
    <div class="courses">
        @for (course of courses; track course.id; let index = $index; let count = $count;) {
            <h1>{{ index + 1 }} of {{count}}</h1>
            
            <course-card (courseSelected)="onCourseSelected($event)"
             [course]="course"
             [index]="$index"
             [class.is-first]="$first"
             [class.is-last]="$last"
             [class.is-odd]="$odd"
             [class.is-even]="$even"
             />
        }
        @empty {
            <h1>No courses found</h1>
        }
    </div>
}
@placeholder {
    <h1>This is placeholder</h1>
}

@loading(minimum 3s; after 1s) {
    <h1>Loading indicator...
    </h1>
}

@error {
    <h1>An error occured</h1>
}


